<h1>Tela Inicial</h1>
<p>Gerencie seus contatos neste app Ruby</p>
<ul>
  <li><%= link_to "Contatos", contacts_path%></li>
  <li><%= link_to "Tipos de Contatos", kinds_path%></li>
  <li><%= link_to "Endereços", addresses_path%></li>
  <li><%= link_to "Telefones", phones_path%></li>
</ul>
